{% extends 'base.html.twig' %}

{% block title %}{% trans %} title.index {% endtrans %}{% endblock %}

{% block body %}
    <div class="w-full grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3  gap-24 md:gap-4 ">
        {#        <div class="col-span-3 w-full aspect-video grid grid-cols-3 gap-2"> #}
        <twig:Cards:Info class="lg:col-span-2 !p-0">
            <img src="{{ asset('images/dalle_exemples_01') }}" class="rounded-lg" alt="">
        </twig:Cards:Info>
        {#            <div class="w-full overflow-hidden grid grid-cols-3 md:grid-cols-1 md:grid-rows-3  md:grid-flow-col auto-rows-max gap-2"> #}
        <twig:Cards:Info class="h-full flex flex-row md:flex-col justify-between !items-start">
            <h1 class="text-lg lg:text-xl">Exempl.es</h1>
            <h2 class="text-base lg:text-lg">Anciens travaux d'écoles, essais, POC ou demos </h2>

            <ul>
                <li><a href="https://github.com/jphNovitz">Github jphNovitz</a></li>
                <li><a href="www.linkedin.com/in/jphnovitz">LinkedIn</a></li>
            </ul>

            <h6 class="text-xs"> Novitz Jean-Philippe, développeur web à Liège (2014 - {{ 'now' | date('Y') }})</h6>
        </twig:Cards:Info>


        {#        </div> #}

        {% for category in  categories.getAll() %}
            {#            <div class="w-full grid md:grid-cols-2 lg:grid-cols-3 gap-20 lg:gap-8 my-[20vh] "> #}
            {% if loop.index == 1 %}
                {#                    <div class="md:col-span-2 lg:col-span-1"> #}
                <twig:Cards:Title>{% trans %} title.index {% endtrans %}</twig:Cards:Title>
                {#                    </div> #}
            {% endif %}
            <div class=" ">
                <twig:Cards:Category :name="category.name"/>
            </div>
            {% for site in category.sites %}
                <div {# {% if loop.index == 1 %} class="md:col-span-2"{% endif %} #}>
                    <twig:Cards:Site
                            :site="site"
                            :category="category.name"/>
                </div>
            {% else %}
                no sites
            {% endfor %}
            {#            </div> #}
        {% endfor %}
    </div>
    <div class="w-full grid grid-cols-3 gap-4 mt-4">
        <twig:Cards:Info class="bg-no-repeat bg-cover bg-center"
                         style="background-image: url({{ asset('images/Screenshot-pixelservices.png') }})">
            <a href="https://pixelServices.be"
               class="bg-clear/60 text-black font-black px-8 py-4 rounded-md">
                PixelServices.be
            </a>
        </twig:Cards:Info>
        <twig:Cards:Info class="bg-no-repeat bg-cover bg-center"
                         style="background-image: url({{ asset('images/github-bg-opti.webp') }})">
            <a href="https://github.com/jphNovitz"
               class="bg-clear/60 text-black font-black px-8 py-4 rounded-md">@jphNovitz</a>
        </twig:Cards:Info>
        <twig:Cards:Info class="">
            <a href="https://jphnovitz.be"
               class="bg-clear/60 text-black font-black px-8 py-4 rounded-md">jphnovitz.be</a>
        </twig:Cards:Info>
    </div>
    <a href="{{ path('app_sitemap') }}">Sitemap</a>
{% endblock %}
