{% extends 'base.html.twig' %}

{% block body %}

    <div class="w-full grid  md:grid-cols-3  gap-4 my-8 mx-auto">
        {#        <div class="md:col-span-2 grid grid-flow-row auto-rows-max gap-4"> #}
        <twig:Cards:Info class="md-h-full md:col-span-2 aspect-video bg-center bg-cover bg-no-repeat p-0  order-1 md:order-0"
                         style="background-image: url('{{ asset('images/sites/'~site.imageName) }}')"
        >
            {#            <img src="{{ asset('images/sites/'~site.imageName) }}" class="rounded-lg" alt=""> #}
        </twig:Cards:Info>

        <div class="{# grid grid-flow-row auto-rows-max gap-4 #} flex flex-col justify-between order-0 md:order-0">
            <twig:Cards:Info class="flex item-center justify-center capitalize text-center">
                <h1>{{ site.title }}</h1>
            </twig:Cards:Info>
            <twig:Cards:Info class="w-full  flex-1  leading-loose  mt-4  md:hidden">
                <h2 class="leading-loose text-xl">{{ site.description }}</h2>
            </twig:Cards:Info>
            <twig:Cards:Info class=" max-h-content mt-4 md:my-0">
                <h3> {{ site.category.name }}</h3>
            </twig:Cards:Info>
        </div>

        {#        <div class="w-full grid grid-flow-row auto-rows-max gap-4"> #}
        <div class="flex flex-col justify-between  order-2 md:order-0 gap-4">
            <div class="grid grid-cols-2 md:p-0 gap-4">
{#            <div class="flex !flex-row max-h-content md:p-0 gap-4">#}
                <twig:Cards:Info class="!auto h-full mb-4 flex-1">
                    {% for tag in site.tags %}
                        #{{ tag.name }},
                    {% endfor %}
                </twig:Cards:Info>
                <div class="flex !flex-col flex-1 gap-4">
                    <twig:Cards:Info class="!aspect-video text-sm"><a href="https://pixelservices.be">PixelServices.be
                            sites internet pour petits entrepreneurs </a></twig:Cards:Info>
                    <twig:Cards:Info class="!aspect-video"><a href="https://jphnovitz.be">Developpeur web à Liège </a>
                    </twig:Cards:Info>
                </div>

            </div>
            <div class="flex !flex-row max-h-content  md:p-0 gap-4">
                <twig:Cards:Info class="">
                    <a href="{{ site.url }}" title="voir la demo de {{ site.title }}">
                        <twig:Button:Icon>
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512" fill="currentcolor"
                                 class="w-8">
                                <path d="M288 80c-65.2 0-118.8 29.6-159.9 67.7C89.6 183.5 63 226 49.4 256c13.6 30 40.2 72.5 78.6 108.3C169.2 402.4 222.8 432 288 432s118.8-29.6 159.9-67.7C486.4 328.5 513 286 526.6 256c-13.6-30-40.2-72.5-78.6-108.3C406.8 109.6 353.2 80 288 80zM95.4 112.6C142.5 68.8 207.2 32 288 32s145.5 36.8 192.6 80.6c46.8 43.5 78.1 95.4 93 131.1c3.3 7.9 3.3 16.7 0 24.6c-14.9 35.7-46.2 87.7-93 131.1C433.5 443.2 368.8 480 288 480s-145.5-36.8-192.6-80.6C48.6 356 17.3 304 2.5 268.3c-3.3-7.9-3.3-16.7 0-24.6C17.3 208 48.6 156 95.4 112.6zM288 336c44.2 0 80-35.8 80-80s-35.8-80-80-80c-.7 0-1.3 0-2 0c1.3 5.1 2 10.5 2 16c0 35.3-28.7 64-64 64c-5.5 0-10.9-.7-16-2c0 .7 0 1.3 0 2c0 44.2 35.8 80 80 80zm0-208a128 128 0 1 1 0 256 128 128 0 1 1 0-256z"/>
                            </svg>
                        </twig:Button:Icon>
                        Demo
                    </a>
                </twig:Cards:Info>
                <twig:Cards:Info class="">
                    <a href="{{ site.repo }}" title="voir le code de {{ site.title }} sur Github">
                        <twig:Button:Icon>
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 496 512" fill="currentcolor"
                                 class="w-8">
                                <path d="M165.9 397.4c0 2-2.3 3.6-5.2 3.6-3.3 .3-5.6-1.3-5.6-3.6 0-2 2.3-3.6 5.2-3.6 3-.3 5.6 1.3 5.6 3.6zm-31.1-4.5c-.7 2 1.3 4.3 4.3 4.9 2.6 1 5.6 0 6.2-2s-1.3-4.3-4.3-5.2c-2.6-.7-5.5 .3-6.2 2.3zm44.2-1.7c-2.9 .7-4.9 2.6-4.6 4.9 .3 2 2.9 3.3 5.9 2.6 2.9-.7 4.9-2.6 4.6-4.6-.3-1.9-3-3.2-5.9-2.9zM244.8 8C106.1 8 0 113.3 0 252c0 110.9 69.8 205.8 169.5 239.2 12.8 2.3 17.3-5.6 17.3-12.1 0-6.2-.3-40.4-.3-61.4 0 0-70 15-84.7-29.8 0 0-11.4-29.1-27.8-36.6 0 0-22.9-15.7 1.6-15.4 0 0 24.9 2 38.6 25.8 21.9 38.6 58.6 27.5 72.9 20.9 2.3-16 8.8-27.1 16-33.7-55.9-6.2-112.3-14.3-112.3-110.5 0-27.5 7.6-41.3 23.6-58.9-2.6-6.5-11.1-33.3 2.6-67.9 20.9-6.5 69 27 69 27 20-5.6 41.5-8.5 62.8-8.5s42.8 2.9 62.8 8.5c0 0 48.1-33.6 69-27 13.7 34.7 5.2 61.4 2.6 67.9 16 17.7 25.8 31.5 25.8 58.9 0 96.5-58.9 104.2-114.8 110.5 9.2 7.9 17 22.9 17 46.4 0 33.7-.3 75.4-.3 83.6 0 6.5 4.6 14.4 17.3 12.1C428.2 457.8 496 362.9 496 252 496 113.3 383.5 8 244.8 8zM97.2 352.9c-1.3 1-1 3.3 .7 5.2 1.6 1.6 3.9 2.3 5.2 1 1.3-1 1-3.3-.7-5.2-1.6-1.6-3.9-2.3-5.2-1zm-10.8-8.1c-.7 1.3 .3 2.9 2.3 3.9 1.6 1 3.6 .7 4.3-.7 .7-1.3-.3-2.9-2.3-3.9-2-.6-3.6-.3-4.3 .7zm32.4 35.6c-1.6 1.3-1 4.3 1.3 6.2 2.3 2.3 5.2 2.6 6.5 1 1.3-1.3 .7-4.3-1.3-6.2-2.2-2.3-5.2-2.6-6.5-1zm-11.4-14.7c-1.6 1-1.6 3.6 0 5.9 1.6 2.3 4.3 3.3 5.6 2.3 1.6-1.3 1.6-3.9 0-6.2-1.4-2.3-4-3.3-5.6-2z"/>
                            </svg>
                        </twig:Button:Icon>
                        Github
                    </a>
                </twig:Cards:Info>
            </div>
            {#            <twig:Cards:Info class="flex !flex-row justify-evenly max-h-content p-0  mt-4 gap-4 #}{# md:mt-0 #}{# "> #}
            {#                <a href="{{ site.url }}" title="voir la demo de {{ site.title }}"> #}
            {#                    <twig:Button:Icon> #}
            {#                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512" fill="currentcolor" class="w-8"> #}
            {#                            <path d="M288 80c-65.2 0-118.8 29.6-159.9 67.7C89.6 183.5 63 226 49.4 256c13.6 30 40.2 72.5 78.6 108.3C169.2 402.4 222.8 432 288 432s118.8-29.6 159.9-67.7C486.4 328.5 513 286 526.6 256c-13.6-30-40.2-72.5-78.6-108.3C406.8 109.6 353.2 80 288 80zM95.4 112.6C142.5 68.8 207.2 32 288 32s145.5 36.8 192.6 80.6c46.8 43.5 78.1 95.4 93 131.1c3.3 7.9 3.3 16.7 0 24.6c-14.9 35.7-46.2 87.7-93 131.1C433.5 443.2 368.8 480 288 480s-145.5-36.8-192.6-80.6C48.6 356 17.3 304 2.5 268.3c-3.3-7.9-3.3-16.7 0-24.6C17.3 208 48.6 156 95.4 112.6zM288 336c44.2 0 80-35.8 80-80s-35.8-80-80-80c-.7 0-1.3 0-2 0c1.3 5.1 2 10.5 2 16c0 35.3-28.7 64-64 64c-5.5 0-10.9-.7-16-2c0 .7 0 1.3 0 2c0 44.2 35.8 80 80 80zm0-208a128 128 0 1 1 0 256 128 128 0 1 1 0-256z"/> #}
            {#                        </svg> #}
            {#                    </twig:Button:Icon> #}
            {#                </a> #}
            {#                <a href="{{ site.repo }}" title="voir le code de {{ site.title }} sur Github"> #}
            {#                    <twig:Button:Icon> #}
            {#                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 496 512" fill="currentcolor" class="w-8"> #}
            {#                            <path d="M165.9 397.4c0 2-2.3 3.6-5.2 3.6-3.3 .3-5.6-1.3-5.6-3.6 0-2 2.3-3.6 5.2-3.6 3-.3 5.6 1.3 5.6 3.6zm-31.1-4.5c-.7 2 1.3 4.3 4.3 4.9 2.6 1 5.6 0 6.2-2s-1.3-4.3-4.3-5.2c-2.6-.7-5.5 .3-6.2 2.3zm44.2-1.7c-2.9 .7-4.9 2.6-4.6 4.9 .3 2 2.9 3.3 5.9 2.6 2.9-.7 4.9-2.6 4.6-4.6-.3-1.9-3-3.2-5.9-2.9zM244.8 8C106.1 8 0 113.3 0 252c0 110.9 69.8 205.8 169.5 239.2 12.8 2.3 17.3-5.6 17.3-12.1 0-6.2-.3-40.4-.3-61.4 0 0-70 15-84.7-29.8 0 0-11.4-29.1-27.8-36.6 0 0-22.9-15.7 1.6-15.4 0 0 24.9 2 38.6 25.8 21.9 38.6 58.6 27.5 72.9 20.9 2.3-16 8.8-27.1 16-33.7-55.9-6.2-112.3-14.3-112.3-110.5 0-27.5 7.6-41.3 23.6-58.9-2.6-6.5-11.1-33.3 2.6-67.9 20.9-6.5 69 27 69 27 20-5.6 41.5-8.5 62.8-8.5s42.8 2.9 62.8 8.5c0 0 48.1-33.6 69-27 13.7 34.7 5.2 61.4 2.6 67.9 16 17.7 25.8 31.5 25.8 58.9 0 96.5-58.9 104.2-114.8 110.5 9.2 7.9 17 22.9 17 46.4 0 33.7-.3 75.4-.3 83.6 0 6.5 4.6 14.4 17.3 12.1C428.2 457.8 496 362.9 496 252 496 113.3 383.5 8 244.8 8zM97.2 352.9c-1.3 1-1 3.3 .7 5.2 1.6 1.6 3.9 2.3 5.2 1 1.3-1 1-3.3-.7-5.2-1.6-1.6-3.9-2.3-5.2-1zm-10.8-8.1c-.7 1.3 .3 2.9 2.3 3.9 1.6 1 3.6 .7 4.3-.7 .7-1.3-.3-2.9-2.3-3.9-2-.6-3.6-.3-4.3 .7zm32.4 35.6c-1.6 1.3-1 4.3 1.3 6.2 2.3 2.3 5.2 2.6 6.5 1 1.3-1.3 .7-4.3-1.3-6.2-2.2-2.3-5.2-2.6-6.5-1zm-11.4-14.7c-1.6 1-1.6 3.6 0 5.9 1.6 2.3 4.3 3.3 5.6 2.3 1.6-1.3 1.6-3.9 0-6.2-1.4-2.3-4-3.3-5.6-2z"/> #}
            {#                        </svg> #}
            {#                    </twig:Button:Icon> #}
            {#                </a> #}
            {#            </twig:Cards:Info> #}
        </div>
        <twig:Cards:Info class="hidden md:flex md:col-span-2  w-full  flex-1  leading-loose ">
            <h2 class="leading-loose text-xl">{{ site.description }}</h2>
        </twig:Cards:Info>
    </div>



{% endblock %}

{% block title %}
    {{ site.title }}, exemple de {{ site.category.name }}
{% endblock %}

