{{ form_start(form) }}
<div class="w-full  flex flex-col space-y-8 ">
    <div class="w-full  flex flex-col space-y-8">
        {{ form_label(form.title) }}
        {{ form_widget(form.title, {'attr': {'class': 'focus:bg-clear text-black px-1 py-2'}}) }}
    </div>
    <div class="w-full  flex flex-col space-y-8 ">
        {{ form_label(form.description) }}
        {{ form_widget(form.description, {'attr': {'class': 'focus:bg-clear text-black px-1 py-2'}}) }}
    </div>
    <div class="w-full  flex flex-col space-y-8 ">
        {{ form_label(form.imageFile) }}
        {{ form_widget(form.imageFile, {'attr': {'class': 'focus:bg-clear text-black px-1 py-2'}}) }}
    </div>
    <div class="w-full  flex flex-col space-y-8 ">
        {{ form_label(form.repo) }}
        {{ form_widget(form.repo, {'attr': {'class': 'focus:bg-clear text-black px-1 py-2'}}) }}
    </div>
    <div class="w-full  flex flex-col space-y-8 ">
        {{ form_label(form.category) }}
        {{ form_widget(form.category, {'attr': {'class': 'bg-clear text-black px-1 py-2'}}) }}
    </div>
    <div class="w-full flex flex-col space-y-8">
        {{ form_label(form.tags) }}
        <div class="w-full grid grid-cols-2 md:grid-cols-3 space-y-8 ">
            {% for tag in form.tags %}
                <div class="flex space-x-8">
                    {{ form_widget(tag, {'attr': {'class': 'bg-slate-50'}}) }}
                    {{ form_label(tag) }}
                </div>
            {% endfor %}
        </div>
    </div>
    <twig:Button:Submit :button_label="button_label"/>
</div>
{{ form_end(form) }}
